.strategy-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  padding: 64px 0;
}

.strategy-header {
  width: 100%;
  padding: 24px 16px;
  text-align: center;
}

.strategy-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.strategy-main-box {
  width: 100%;
  min-height: 140px;
  padding: 24px 16px;
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.strategy-icon-box {
  --size: 48px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  background: var(--color6);
  border-radius: 14px;
  color: var(--color3);
  margin-bottom: 16px;
}

.strategy-main-box-heading {
  font-weight: 600;
  margin-bottom: 8px;
}
