@font-face {
  font-family: GTWalsheim;
  src: url(./assets/fonts/GTWalsheimPro-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: GTWalsheim;
  src: url(./assets/fonts/GTWalsheimPro-Bold.woff);
  font-weight: bold;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --color-100: #ffffff;
  --color-110: #fbfbfb;
  --color-120: #dceeff;
  --color-200: #3898ff;
  --color-300: #081ae1;
  --color-400: #191155;
  --color-500: #415acb;
  --color-600: #f6591c;
  --color-700: #040118;
  --color-800: #b4bad3;
}

::selection {
  color: var(--color-120);
  background-color: var(--color-700);
}

body {
  font-family: "GTWalsheim", -apple-system, "Segoe UI", Helvetica, Arial,
    sans-serif, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-color: var(--color-110);
  color: var(--color-700);
}

h1,
h2,
h3 {
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-height: 48px;
  background-color: var(--color-300);
  color: var(--color-100);
  text-decoration: none;
  padding: 0 2rem;
  border-radius: 4px;
  font-weight: bold;
  transition: 400ms;
  vertical-align: middle;
}

button.cta {
  font: inherit;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.cta:hover {
  color: var(--color-700);
  background-color: var(--color-100);
}

h1 {
  font-size: clamp(3rem, 5vw + 1rem, 96px);
  overflow-wrap: break-word;
}

h2 {
  font-size: clamp(2rem, 3vw + 1rem, 48px);
  font-weight: normal;
  margin: 1rem 0;
}

.section-header {
  margin-bottom: 2rem;
  max-width: 900px;
}

.section-header.alt {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.section-header span {
  text-transform: uppercase;
  font-size: 14px;
}

section {
  position: relative;
  padding: 5rem 0;
}

header {
  background-image: linear-gradient(
      hsla(248, 92%, 5%, 0.7),
      hsla(248, 92%, 5%, 0.8)
    ),
    url(./assets/images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-120);
}

header > .container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-top-container {
  display: flex;
  min-height: 96px;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  height: 64px;
  object-fit: contain;
}

.header-nav {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-110);
  background-color: var(--color-700);
  padding: 4rem 2rem;
  transform: translate3d(120%, 0, 0);
  transition: transform 400ms;
  overflow-y: auto;
  z-index: 99;
}

.menu.open {
  transform: translate3d(0, 0, 0);
}

.menu-top {
  width: 100%;
  margin-bottom: 5rem;
}

.menu-title {
  display: block;
  margin-bottom: 1rem;
  color: var(--color-800);
}

.menu-list li {
  list-style: none;
  margin-bottom: 1rem;
}

.menu-list a:not(.cta) {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-list .cta {
  width: 100%;
  height: 56px;
}

.menu-socials-list li {
  margin-right: 2rem;
  margin-bottom: 2rem;
  list-style: none;
}

.menu-socials-list a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.menu-toggle {
  --scale: 48px;
  height: var(--scale);
  width: var(--scale);
  background-color: var(--color-300);
  color: var(--color-100);
  border: none;
  outline: none;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  transition: 200ms background-color;
  cursor: pointer;
  z-index: 100;
}

.menu-toggle::before,
.menu-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  border-radius: 2px;
  background-color: currentColor;
  transition: 200ms transform;
}

.menu-toggle::before {
  transform: translate(-50%, -4px);
}

.menu-toggle::after {
  transform: translate(-50%, 4px);
}

.menu-toggle.open {
  background-color: var(--color-600);
}

.menu-toggle.open::before {
  transform: translate(-50%, 0px) rotate(45deg);
}

.menu-toggle.open::after {
  transform: translate(-50%, 0px) rotate(-45deg);
}

.text-container {
  max-width: 800px;
  padding: 20vh 0;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-type {
  margin: 3rem 0;
}

.service-type .icon-box {
  --scale: 96px;
  width: var(--scale);
  height: var(--scale);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-120);
  fill: var(--color-300);
  color: var(--color-110);
  border-radius: 50%;
}

.service-type .icon-box svg {
  --scale: 48px;
  width: var(--scale);
  height: var(--scale);
}

.service-type h4 {
  margin: 2rem 0 1rem;
}

.services-banner,
.about-banner {
  width: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  max-height: 640px;
}

.services-banner::after,
.about-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    hsla(248, 92%, 5%, 0.5),
    hsla(248, 92%, 5%, 0.4)
  );
}

.services-banner .cta,
.about-banner .cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.about-banner .cta {
  --scale: 80px;
  padding: 0;
  height: var(--scale);
  width: var(--scale);
  border-radius: 50%;
}

.header-extension {
  margin-left: auto;
  max-width: 400px;
  margin-bottom: 3rem;
}

.header-extension span {
  text-transform: uppercase;
  margin-right: 0.2rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--color-700);
  border-radius: 100vh;
}

.testimonial-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.testimonial-container::-webkit-scrollbar-thumb {
  background-color: var(--color-700);
  border-radius: 8px;
}

.testimonial-container::-webkit-scrollbar {
  height: 4px;
  background: none;
}

.testimonial-item {
  min-width: 240px;
  width: 100%;
  padding: 3rem 1rem;
  margin: 2rem 1rem;
  background-color: var(--color-120);
  border-radius: 8px;
  scroll-snap-align: center center;
}

.testimonial-rating {
  margin: 2rem 0 1rem;
}

.testimonial-item .name {
  font-size: 1.7rem;
}

.section-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 2rem;
  background-image: linear-gradient(
      hsla(248, 92%, 5%, 0.6),
      hsla(248, 92%, 5%, 0.7)
    ),
    url(./assets/images/banner-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-110);
  border-radius: 8px;
  max-height: 640px;
  text-align: center;
  align-items: center;
}

.section-banner span {
  text-transform: uppercase;
}

.section-banner h2 {
  font-weight: bold;
  max-width: 560px;
}

.section-banner p {
  margin: 0 auto 2rem auto;
  max-width: 400px;
}

.section-banner .cta {
  margin: 0 auto;
}

footer {
  padding: 5rem 0;
  color: var(--color-110);
  background-color: var(--color-700);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-400);
}

.footer-container > * {
  margin-bottom: 3rem;
}

.newsletter {
  width: 100%;
  /* max-width: 400px; */
}

.newsletter p {
  margin: 1rem 0;
  color: var(--color-500);
  color: #b4bad3;
}

.newsletter form input {
  width: 100%;
  height: 48px;
  background-color: var(--color-800);
  border: none;
  outline: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 0 1rem;
  font: inherit;
  color: var(--color-700);
}

.newsletter form input::placeholder {
  color: inherit;
}

footer ul {
  width: 100%;
}

footer ul li {
  margin-bottom: 1rem;
  list-style: none;
}

footer ul li:first-child {
  font-weight: bold;
}

footer ul li a {
  text-decoration: none;
  color: var(--color-800);
}

footer ul:last-child li a {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
}

.footer-bottom > div {
  width: 100%;
  margin-bottom: 1rem;
}

.footer-bottom a {
  color: var(--color-800);
  text-decoration: none;
}

@media (min-width: 360px) {
  .testimonial-item {
    min-width: 320px;
  }
}

@media (min-width: 400px) {
  .testimonial-item {
    min-width: 360px;
  }
}

@media (min-width: 768px) {
  header > .container {
    min-height: 70vh;
  }
  .menu-toggle {
    display: none;
  }

  .menu {
    display: none;
  }

  .header-nav {
    display: block;
    flex: 1;
    width: 100%;
    margin-left: 6rem;
  }

  .header-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header-nav-list li {
    margin-right: 4rem;
    display: inline-block;
  }

  .header-nav-list li:last-child {
    margin-left: auto;
    margin-right: 0px;
  }

  .header-nav-list a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }

  .service-type {
    width: 45%;
  }

  .testimonial-item {
    width: 45%;
  }

  .newsletter,
  .logo-container {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  header > .container {
    min-height: 100vh;
  }

  .header-nav-list li {
    margin-right: 6rem;
    display: inline-block;
  }

  .testimonial-container {
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content: center;
  }

  footer ul {
    width: auto;
    margin-left: 4rem;
  }

  .footer-bottom > div:not(.logo-container) {
    width: auto;
    margin-bottom: 0rem;
  }

  .footer-bottom > div:not(.logo-container) {
    margin-left: 6rem;
  }

  .service-type {
    width: 32%;
  }
}

@media (min-width: 1200px) {
  .service-type {
    width: 30%;
  }

  .testimonial-item {
    min-width: auto;
    width: 22%;
  }
}
