@font-face {
  font-family: GTWalsheim;
  src: url(./assets/fonts/GTWalsheimPro-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: GTWalsheim;
  src: url(./assets/fonts/GTWalsheimPro-Bold.woff);
  font-weight: bold;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "GTWalsheim", -apple-system, "Segoe UI", Helvetica, Arial,
    sans-serif, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
